<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat+Alternates:wght@500&family=Raleway&display=swap"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Hello!</title>
  </head>
  <body>
    <nav>
      <% if (user) { %> 
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/products/new">Add Product |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Product Library |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/profile">My Profile |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/messages">Message Board</a>
            </li>
          </ul>
        </div>
       <a class="navbar-link" href="/auth/google">Log Out</a> <img
       src="/images/icecream.png"
       alt="ice cream pic"
       class="nav-logo"
     />
      </nav>
        <% } else { %>
          <a href="/auth/google">Login</a>
          <% } %>
        </ul>
      </div>
      </nav>
        </nav>
     
   