<%- include('partials/header') %>
<div class="about-container">
  <div class="get-started">
    <h1 class="welcome-header">Welcome to Faceify!</h1>
    <h3>How it works:</h3>
    <p>
      Faceify was built with community in mind. To get started, head on over to
      My Profile and set up your own personal user profile to let the community
      members know what you are about when it comes to skin-care. Next, consider
      adding a product, or five, to the database! You will want to include the
      brand, name, the main ingredients used, general cost, a brief description,
      as well as add a few tags to help users narrow down their search results.
      Faceify also inculdes a community message board to talk skin-care with
      other users.
    </p>
  </div>
  <hr />
  <div class="disclaimer-container">
  <h4 class="disclaimer">A few things to keep in mind when using this site:</h4>
  <ul>
    <li>
      Faceify is not sponsored by or endorsed by any product lines mentioned
      anywhere on the site.
    </li>
    <li>
      Faceify is not a place to recommend products that you should be putting
      on your skin. IT IS a place for you to get ideas of products to look up
      and decide if you want to add them to your own personal routine, and a
      place for skin-care enthusiasts to come together. With that said...
    </li>
    <li>
      DO YOUR RESEARCH. Before putting anything on your skin, look up the full
      list of ingredients of a product you are interested in trying, once you do
      that, look up each ingredient individually if you do not know what it
      does. Not everyone has access to a skin-care professional, but anyone
      using Faceify does have access to the internet.
    </li>
    <li>
      Faceify is not a place for medical advice in any capacity. If you seek
      immediate medical attention, please call 911.
    </li>
    <li>
      <a
        href="https://www.termsfeed.com/live/075beea7-7270-4526-9170-9be21ef7efd0"
        >Click here for more information</a
      >
    </li>
  </ul>
</div>
</div>

<%- include('partials/footer') %>
