<%- include('partials/header') %>
    <div class="container" id="landingCont">
        <div class="card">
            <div class="card-body" id="landingBody">
                <% if (user) { %>
                    <h1 class="faceify"> Faceify </h1>
                   <p><a href="/products" class="landingLinks">Products  </a> 
                        <a href="users/profile" class="landingLinks">Profile</a>
                    </p> 
                    <img src="images/icecream.png" class="logo">
                    <% } else { %>
                        <h1 class="faceify">Faceify
                        </h1>
                        <h2 class="description">
                            <i><strong>A publicly sourced skin-care database</i></strong></h2>
                        <div><a href="/auth/google" class="landingLinks">Get Started</a></div>
                        <div><img src="images/icecream.png" class="logo">
                        </div>
                        <% } %>
            </div>
        </div>
    </div>
</div>





    <%- include('partials/footer') %>