
body {
  font-family: 'Poppins', sans-serif; 
  margin: 0;
  background-color: rgb(97, 146, 144);

}

a {
  color: rgb(235, 42, 148);
}

a:hover {
  color: gray;
}

button:active {
  background:rgb(236, 175, 211)
}

.container {
  background-color: white;
  margin-right: auto; 
  margin-left:  auto;
  margin-top: 50px;
  max-width: 960px; 
  border: 5px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */
 nav {
  height: 70px;
  background-color: white;
}

.nav-link {
  color: rgb(235, 42, 148);
  font-family:'Dancing Script', cursive;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-out {
  color: gray;
}

.navbar-toggler {
  background-color: rgb(97, 146, 144);
}

 #navbarNav {
  background-color: white;
}


/* Landing Pages */
#landingBody {
  margin-right: auto; 
  margin-left:  auto;
  margin-top: 5px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.faceify {
  font-family: 'Dancing Script', cursive; 
  font-size: 90px;
  margin-bottom: 10px;
  color: rgb(97, 146, 144);
}

.description {
  margin-top: 20px; 
  margin-bottom: 10px; 
  font-family: 'Poppins', sans-serif; 
  font-size: 20px;
  color: rgb(97, 146, 144);
}

.logo {
  width: 12rem; 
  height: 12rem; 
  margin-top: 30px;
}

.landingLinks {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* Profile Page */

#profileCard {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: white;
  border: 1px solid pink;
  word-wrap: break-word;
}

.prof-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color:  rgb(235, 42, 148);
  word-wrap: break-word;
}

.profPic {
  margin-left: 3rem;
}




/* Product show*/
#prodCard {
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin-right: auto; 
  margin-left:  auto;
  border: none;
}

#prodImg {
  border-radius: 50%;
  height: 16rem; 
  width: 16rem;
  margin: 8rem 6rem 6rem 0;
}

.card-title1 {
  color: rgb(69, 136, 133);
  font-family:'Dancing Script', cursive;
  font-size: 38px;
  display: flex;
  margin-top: 20px;
  
}

.commentInput {
  width: 20rem;
  height: 5rem;
}

.favBtn {
  border-radius: 12px 2px;
  border: none;
  background-color: rgb(243, 105, 186);
  color: white;
  margin-top: 2px;
}

#commentBtn {
  border-radius: 12px 2px;
  background-color: rgb(69, 136, 133);
  border: none;
}

.prodBack {
margin-left: 25rem;
font-size: 20px;
text-decoration: underline;
}

#prodScroll {
  height: 10rem; 
  overflow-y: scroll;
}

/* Product index card */
.prodText {
  color: rgb(69, 136, 133);
  font-family:'Dancing Script', cursive;
  font-size: 55px;
  text-align: center; 
  margin: 20px 0;
}


/* Add New Product */
.newProd {
  color: rgb(69, 136, 133);
  font-family:'Dancing Script', cursive;
  font-size: 55px;
  text-align: center; 
  margin: 20px 0;
}

#prodForm {
  margin-right: auto; 
  margin-left:  auto;
  margin-top: 20px;
  max-width: 960px; 
  padding-right: 10px; 
  padding-left:  10px;
}

#addBtn {
  margin-bottom: 10px;
  border-radius: 12px 2px;
  border: none;
  background-color: rgb(243, 105, 186);
}

#textInput {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Messages Index */

#messagesCont {
  margin-right: auto; 
  margin-left:  auto;
  margin-top: 30px;
  max-width: 960px; 
  display: flex;
  flex-direction: column;
  text-align: center;
}

.message-card-body {
  margin-right: auto; 
  margin-left:  auto;
  width: 300px;
  max-width: 960px; 
}

#messageScroll {
  height: 25rem; 
  overflow-y: scroll;
}

#messageBtn {
  margin-bottom: 10px;
  border-radius: 12px 2px;
  border: none;
  background-color: rgb(243, 105, 186);
}

#repliesBtn {
  margin-bottom: 10px;
  border-radius: 12px 2px;
  border: none;
  background-color: rgb(69, 136, 133);
}

.messageTitle {
  color: rgb(69, 136, 133);
  font-family:'Dancing Script', cursive;
  font-size: 55px;
  text-align: center; 
  margin: 10px 0;
}

/* Message thread page */
#replyScroll {
  height: 18rem; 
  overflow-y: scroll;
}

#replyBtn {
  margin-top: 10px;
  border-radius: 12px 2px;
  border: none;
  background-color: rgb(243, 105, 186);
}

#avatarPhoto {
  border-radius: 50%
}

.replyHead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}







