html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
    but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference -
  in most browser configurations this will be 10px */
:root {
  font-size: 90%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100vh;
}

a {
  color: rgb(243, 105, 186);
}

a:hover {
  color: gray;
}

.container {
  background-color:rgb(97, 146, 144);
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  max-width: 960px;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
   
}
/* Get Started Page */
.get-started {
  text-align: center;
  padding-bottom: 20px;
}

.welcome-header {
  color:rgb(243, 105, 186);
  padding: 20px 0;
}

.disclaimer-container {
  padding-bottom: 20px;
}
.disclaimer {
  padding: 20px 0;
  text-align: center;
}

/* Main Navbar */
nav {
  height: 60px;
  background-color:rgb(97, 146, 144);
}

.nav-logo {
  height: 3rem;
  width: 4rem;
  
}
.nav-link {
  color: white;
  font-size: 20px;
  
}

.navbar-link {
  color: white;
  text-decoration: underline;
}

.log-out {
  color: gray;
}

.navbar-toggler {
  background-color: white;
}

#navbarNav {
  background-color: rgb(97, 146, 144);
  z-index: 100;
}


/* Display Cards */
.card {
  justify-content: center;
  align-items: center;
  border: 2px rgb(243, 105, 186) solid;
}

/* Landing logged in */
.faceify {
  font-family: "Dancing Script", cursive;
  font-size: 90px;
  margin-bottom: 30px;
  color: rgb(76, 119, 118);
}

.logo {
  width: 13rem;
  height: 12rem;
  margin-top: 40px;
}

.landingLink1 {
  font-size: 30px;
  padding: 0 0 0 10px;
  text-decoration: underline;
}

/* Landing New */
.description {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: rgb(76, 119, 118);
  text-align: center;
}

.new-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  
}

.landingLink2 {
  font-size: 30px;
  text-decoration: underline;
}


/* Profile Page */
.prof-card-title {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(76, 119, 118);
}

.profile-logo {
  width: 8rem;
  height: 6rem;
  
  padding: 0;
}

.deleteBtn {
  border-radius: 50%;
  background-color: rgb(97, 146, 144);
  color: white;
}

ul#myTab.nav.nav-tabs {
  margin-left: 50px;
}

.my-collection {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(76, 119, 118);
}


/* Profile Show */
#showImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 20px 0 10px 0;
}

/* Product show*/

.card-title1 {
  color: rgb(69, 136, 133);
  font-family: "Dancing Script", cursive;
  font-size: 38px;
  display: flex;
  margin-top: 20px;
}

.commentInput {
  width: 20rem;
  height: 5rem;
}

.favBtn {
  border-radius: 12px 2px;
  border: none;
  background-color: rgb(243, 105, 186);
  color: white;
  margin-top: 2px;
}

#commentBtn {
  border-radius: 12px 2px;
  background-color: rgb(69, 136, 133);
  border: none;
}

.prodBack {
  font-size: 15px;
  text-decoration: underline;
}

.card-text-comments {
  text-decoration: underline;
}

#ingredScroll {
  height: 6rem;
}
#prodScroll {
  height: 8rem;
  overflow-y: scroll;
}

/* Product index card */
.prod-title-index {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 55px;
  text-align: center;
  margin: 0 0 20px 0;
}

/* Add New Product */
.prod-title {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 55px;
  text-align: center;
  margin: 0 0 20px 0;
}

.add-product {
  background-color: rgb(97, 146, 144);
}

.prod-container {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  max-width: 960px;
  height: 80%;
  border: 5px solid gray;
  text-align: center;
  overflow-x: auto;
}

#prodForm {
  margin-right: auto;
  margin-left: auto;
}

#addBtn {
  margin-bottom: 10px;
  border-radius: 12px 2px;
  border: none;
  background-color: rgb(243, 105, 186);
}

#textInput {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Messages Index */

#messagesCont {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#messageScroll {
  height: 25rem;
  overflow-y: scroll;
  margin-bottom: 10px;
}

#messageBtn {
  margin-bottom: 10px;
  border-radius: 12px 2px;
  border: none;
  background-color: rgb(243, 105, 186);
}

#repliesBtn {
  margin-bottom: 10px;
  border-radius: 12px 2px;
  border: none;
  background-color: rgb(69, 136, 133);
}

.messageTitle {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 55px;
  text-align: center;
  margin: 10px 0;
}

/* Message thread page */
#replyScroll {
  height: 18rem;
  overflow-y: scroll;
}

#replyBtn {
  margin-top: 10px;
  border-radius: 12px 2px;
  border: none;
  background-color: rgb(243, 105, 186);
}

#avatarPhoto {
  border-radius: 50%;
}

.reply-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.replies-thread {
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .container {
    background-color: white;
  }
  .messageTitle {
    color: rgb(69, 136, 133);
  }
}
