<%- include("../partials/header", user) %>

   <div class="prod-container">
       <div class="add-product">
        <h2 class="prod-title">Add Product</h2> </div>
        <form class="new-form" action="/products" method="POST">
        <div class="form-group" id="prodForm">
            <label for="product-name">Product Brand/Name:</label>
            <input type="text" class="form-control" id="textInput" name="name">
        </div>
        <div class="form-group" id="prodForm">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="textInput" name="description">
        </div>
        <div class="form-group" id="prodForm">
            <label>Main Ingredients:</label>
            <input type="text" class="form-control" id="textInput" name="mainIngredients">
        </div>
        <div class="form-group" id="prodForm">
            <label for="description">Cost:</label>
            <input type="text" class="form-control" id="textInput" name="cost">
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-2" id="prodForm">
              <button class="btn btn-primary btn-block" type="submit" id="addBtn">Add to Database</button>
            </div>
    </form>
</div>
</div>


<%- include("../partials/footer") %>