<%- include("../partials/header", user) %>

   <div class="prod-container">
       <div class="add-product">
        <h2 class="prod-title">Add Product</h2></div>
        <form class="new-form" action="/products" method="POST">
        <div class="form-group" id="prodForm">
            <label for="product-name">Product Brand/Name:</label>
            <input type="text" class="form-control" id="textInput" name="name">
        </div>
        <div class="form-group" id="prodForm">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="textInput" name="description">
        </div>
        <div class="form-group" id="prodForm">
            <label>Main Ingredients:</label>
            <input type="text" class="form-control" id="textInput" name="mainIngredients">
        </div>
        <div class="form-group" id="prodForm">
            <label for="description">Cost:</label>
            <input type="text" class="form-control" id="textInput" name="cost">
        </div>
        <div class="form-group" id="prodForm">
            <label for="description">Tags:</label>
            <br>
                <input type="checkbox" name="tags" value="Oily">
                <label for="tags">Oily </label>&ensp;
                <input type="checkbox" name="tags" value="Dry">
                <label for="tags">Dry </label>&ensp;
                <input type="checkbox" name="tags" value="Combination">
                <label for="tags">Combination </label>&ensp;
                <input type="checkbox" name="tags" value="Normal">
                <label for="tags">Normal</label>&ensp;
                <input type="checkbox" name="tags" value="Sensitive">
                <label for="tags">Sensitive</label>&ensp; <br>
                <input type="checkbox" name="tags" value="Dehydration">
                <label for="tags">Dehydration</label>&ensp;
                <input type="checkbox" name="tags" value="Acne">
                <label for="tags">Acne</label>&ensp;
                <input type="checkbox" name="tags" value="Rosacea">
                <label for="tags">Rosacea</label>&ensp;
                <input type="checkbox" name="tags" value="Dark Spots">
                <label for="tags">Dark Spots</label>&ensp;
                <input type="checkbox" name="tags" value="Anti-aging">
                <label for="tags">Anti-Aging</label>&ensp; <br>
                <input type="checkbox" name="tags" value="Redness">
                <label for="tags">Redness</label>&ensp; 
                <input type="checkbox" name="tags" value="Under $20.00">
                <label for="tags">Under $20.00</label>&ensp;
                <input type="checkbox" name="tags" value="Requires Prescription">
                <label for="tags">Requires Prescription</label>&ensp;
                <input type="checkbox" name="tags" value="Allergy Alert">
                <label for="tags">Allergy Alert</label>&ensp;
                <input type="checkbox" name="tags" value="Hypoallergenic">
                <label for="tags">Hypoallergenic</label>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-2" id="prodForm">
              <button class="btn btn-primary btn-block" type="submit" id="addBtn">Add to Database</button>
            </div>
    </form>
</div>
</div>


<%- include("../partials/footer") %>